body{
    background-color: rgb(245, 245, 159);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
}
.txt{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: center;
}
.caixat{
    height: 20px;
}
.botao{
    height: 30px;
    width: 100px;
}
